::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
  background: var(--bs-gray-800);
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del pulgar de desplazamiento */
  border-radius: 10px; /* Redondez del pulgar de desplazamiento */
  border: 2px solid var(--bs-gray-900); /* Espacio alrededor del pulgar */
}